@using BL.ViewModels
@model ProductDetailsViewModel

@{
    ViewBag.Title = "details";
    Layout = "~/Views/Shared/_MainSiteLayoutView.cshtml";

}
<!-- SECTION -->
<div class="section">
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row">
            <!-- Product main img -->
            <div class="col-md-5 col-md-push-2">
                <div id="product-main-img">
                    <div class="product-preview">
                        <img src="~/Content/Imgs/Products/@Model.product.Photo" alt="">
                    </div>
                </div>
            </div>

            <div class="col-md-2  col-md-pull-5">
                <div id="product-imgs">
                    <div class="product-preview">
                        <img src="~/Content/Imgs/Products/@Model.product.Photo" alt="">
                    </div>
                </div>
            </div>
            <!-- /Product thumb imgs -->
            <!-- Product details -->
            <div class="col-md-5">
                <div class="product-details">
                    <h2 class="product-name">@Model.product.Name</h2>
                    <div>
                        <div class="product-rating">
                            @for (int i = 1; i <= ViewBag.aveg; i++)
                            {
                                <i class="fa fa-star"></i>
                            }
                            @for (int j = 1; j <= 5 - ViewBag.aveg; j++)
                            {

                                <i class="fa fa-star-o"></i>
                            }
                        </div>
                        <a class="review-link" href="#">@ViewBag.count Review(s) | Add your review</a>
                    </div>
                    <div>
                        <h3 class="product-price">$@Model.product.Offer_Price <del class="product-old-price">$@Model.product.Price</del></h3>
                        <span class="product-available">In Stock</span>
                    </div>
                    <p>
                        @Model.product.Desc
                    </p>

                    <div class="product-options">
                        <div class="qty-label">
                            Vendor Name :
                            <span style="color:blue">@Model.product.Vendor_Name</span> |
                            Qty Avaiable Now :
                            <span style="color:blue">@Model.product.Quantity</span>

                        </div>
                        <!--<label>
                            Color
                            <select class="input-select">
                                <option value="0">Red</option>
                            </select>
                        </label>-->
                    </div>

                    <div class="add-to-cart">
                        <!--<div class="qty-label">
                            Qty
                            <div class="input-number">
                                <input type="number">-->
                                <!--<span class="qty-up">+</span>
                                <span class="qty-down">-</span>-->
                            <!--</div>
                        </div>-->
                        <button class="add-to-cart-btn" onclick="addToCart(@Model.product.Id)"><i class="fa fa-shopping-cart"></i> add to cart</button>
                    </div>

                    <!--<ul class="product-btns">
                        <li><a href="#"><i class="fa fa-heart-o"></i> add to wishlist</a></li>-->
                        <!--<li><a href="#"><i class="fa fa-exchange"></i> add to compare</a></li>-->
                    <!--</ul>-->

                    <ul class="product-links">
                        <li>Category:</li>
                        <li><a href="#">Headphones</a></li>
                        <li><a href="#">Accessories</a></li>
                    </ul>

                    <ul class="product-links">
                        <li>Share:</li>
                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                        <li><a href="#"><i class="fa fa-envelope"></i></a></li>
                    </ul>

                </div>
            </div>
            <!-- /Product details -->
            <!-- Product tab -->
            <div class="col-md-12">
                <div id="product-tab">
                    <!-- product tab nav -->
                    <ul class="tab-nav">
                        <li class="active"><a data-toggle="tab" href="#tab1">Description</a></li>
                        <li><a data-toggle="tab" href="#tab2">Details</a></li>
                        <li><a data-toggle="tab" href="#tab3">Reviews (@ViewBag.count)</a></li>
                    </ul>
                    <!-- /product tab nav -->
                    <!-- product tab content -->
                    <div class="tab-content">
                        <!-- tab1  -->
                        <div id="tab1" class="tab-pane fade in active">
                            <div class="row">
                                <div class="col-md-12">
                                    <p>
                                        @Model.product.Desc
                                    </p>
                                </div>
                            </div>
                        </div>
                        <!-- /tab1  -->
                        <!-- tab2  -->
                        <div id="tab2" class="tab-pane fade in">
                            <div class="row">
                                <div class="col-md-12">
                                    <p>Vendor : @Model.product.Vendor_Name</p>
                                    <p> Reviews for @Model.product.Name: (@ViewBag.count) Review(s)</p>
                                    <p>Price : @Model.product.Price | Offer price : @Model.product.Offer_Price </p>
                                    <p>Sell Count: @Model.product.Sell_Count</p>
                                    <p>Product Rate According to Customers : @ViewBag.pres</p>
                                </div>
                            </div>
                        </div>
                        <!-- /tab2  -->
                        <!-- tab3  -->
                        <div id="tab3" class="tab-pane fade in">
                            <div class="row">
                                <!-- Rating -->
                                <div class="col-md-3">
                                    <div id="rating">
                                        <div class="rating-avg">
                                            <span>@ViewBag.aveg</span>
                                            <div class="rating-stars">
                                                @for (int i = 1; i <= ViewBag.aveg; i++)
                                                {
                                                    <i class="fa fa-star"></i>
                                                }
                                                @for (int j = 1; j <= 5 - ViewBag.aveg; j++)
                                                {

                                                    <i class="fa fa-star-o"></i>
                                                }
                                            </div>
                                        </div>
                                        <ul class="rating">
                                            <li>
                                                <div class="rating-stars">
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                </div>
                                                <div class="rating-progress">
                                                    <div style="width: @ViewBag.rat5pres%;"></div>
                                                </div>
                                                <span class="sum">@ViewBag.rat5</span>
                                            </li>
                                            <li>
                                                <div class="rating-stars">
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star-o"></i>
                                                </div>
                                                <div class="rating-progress">
                                                    <div style="width: @ViewBag.rat4pres%;"></div>
                                                </div>
                                                <span class="sum">@ViewBag.rat4</span>
                                            </li>
                                            <li>
                                                <div class="rating-stars">
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star-o"></i>
                                                    <i class="fa fa-star-o"></i>
                                                </div>
                                                <div class="rating-progress">
                                                    <div style="width: @ViewBag.rat3pres%;"></div>
                                                </div>
                                                <span class="sum">@ViewBag.rat3</span>
                                            </li>
                                            <li>
                                                <div class="rating-stars">
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star-o"></i>
                                                    <i class="fa fa-star-o"></i>
                                                    <i class="fa fa-star-o"></i>
                                                </div>
                                                <div class="rating-progress">
                                                    <div style="width: @ViewBag.rat2pres%;"></div>
                                                </div>
                                                <span class="sum">@ViewBag.rat2</span>
                                            </li>
                                            <li>
                                                <div class="rating-stars">
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star-o"></i>
                                                    <i class="fa fa-star-o"></i>
                                                    <i class="fa fa-star-o"></i>
                                                    <i class="fa fa-star-o"></i>
                                                </div>
                                                <div class="rating-progress">
                                                    <div style="width: @ViewBag.rat1pres%;"></div>
                                                </div>
                                                <span class="sum">@ViewBag.rat1</span>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <!-- /Rating -->
                                <!-- Reviews -->
                                <div class="col-md-6">
                                    <div id="reviews">
                                        <ul class="reviews">
                                            @foreach (var rating in ViewBag.RatingProd)
                                            {
                                                <li>
                                                    <div class="review-heading">
                                                        <h5 class="name">@rating.User.UserName</h5>
                                                        <p class="date">@rating.Created_at</p>
                                                        <div class="review-rating">

                                                            @for (int i = 1; i <= rating.Rate; i++)
                                                            {
                                                                <i class="fa fa-star"></i>
                                                            }
                                                            @for (int j = 1; j <= 5 - rating.Rate; j++)
                                                            {
                                                                <i class="fa fa-star-o empty"></i>
                                                            }

                                                        </div>
                                                    </div>
                                                    <div class="review-body">
                                                        <p width="15%">@rating.Comment</p>
                                                    </div>
                                                </li>
                                            }

                                        </ul>
                                        <!--<ul class="reviews-pagination">
                                            <li class="active">1</li>
                                            <li><a href="#">2</a></li>
                                            <li><a href="#">3</a></li>
                                            <li><a href="#">4</a></li>
                                            <li><a href="#"><i class="fa fa-angle-right"></i></a></li>
                                        </ul>-->
                                    </div>
                                </div>
                                <!-- /Reviews -->
                                <!-- Review Form -->
                                <div class="col-md-3">
                                    <div id="review-form">
                                        <form class="review-form" method="post" action="/uproduct/AddRate">
                                            <input type="hidden" name="Product_Id" value="@Model.product.Id">
                                            <input class="input" type="text" placeholder="Your Name">
                                            <input class="input" type="email" placeholder="Your Email">
                                            <textarea class="input" name="Comment" placeholder="Your Review"></textarea>
                                            <div class="input-rating">
                                                <span>Your Rating: </span>
                                                <div class="stars">
                                                    <input id="star5" name="Rate" value="5" type="radio"><label for="star5"></label>
                                                    <input id="star4" name="Rate" value="4" type="radio"><label for="star4"></label>
                                                    <input id="star3" name="Rate" value="3" type="radio"><label for="star3"></label>
                                                    <input id="star2" name="Rate" value="2" type="radio"><label for="star2"></label>
                                                    <input id="star1" name="Rate" value="1" type="radio"><label for="star1"></label>
                                                </div>
                                            </div>
                                            <button class="primary-btn">Submit</button>
                                        </form>
                                    </div>
                                </div>
                                <!-- /Review Form -->
                            </div>
                        </div>
                        <!-- /tab3  -->
                    </div>
                    <!-- /product tab content  -->
                </div>
            </div>
            <!-- /product tab -->
        </div>
        <!-- /row -->
    </div>
    <!-- /container -->
</div>
<!-- /SECTION -->
<!-- Section -->
<div class="section">
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row">

            <div class="col-md-12">
                <div class="section-title text-center">
                    <h3 class="title">Related Products</h3>
                </div>
            </div>

            <!-- product -->
            @foreach (var product in Model.products)
            {
                <div class="col-md-3 col-xs-6">
                    @{
                        Html.RenderAction("ProductPatialView", "MainSite", product);
                    }

                </div>




            }


        </div>
    </div>

    <!-- /container -->
</div>
<!-- /Section -->
@section scripts{
    <script>
        function fun(elem) {

            if (elem.children[1].children[0].classList.contains("fa-heart")) {

                $.ajax(
                    {
                        type: 'post', //HTTP POST Method
                        url: "/WishList/Delete", // Controller/View
                        data: { //Passing data
                            Product_Id: elem.children[0].getAttribute("data-id") //Reading text box values using Jquery

                        }
                        , success: function (result) {
                            $el = elem.children[0]
                            //$("#btnSave").attr("class", "textboxRight");
                            //    $(elem.children[0]).find('i').removeClass("fa-heart")
                            elem.children[1].children[0].classList.remove("fa-heart")
                            elem.children[1].children[0].classList.add("fa-heart-o")
                            let number = parseInt(document.getElementById('wish').textContent);
                            number--;
                            document.getElementById('wish').textContent = number;



                        }
                        , error: function (result) {
                            console.log(result);
                        }

                    });
            } else {

                $.ajax(
                    {
                        type: 'post', //HTTP POST Method
                        url: "/WishList/CreateWishList", // Controller/View
                        data: { //Passing data
                            Product_Id: elem.children[0].getAttribute("data-id") //Reading text box values using Jquery

                        }
                        , success: function (result) {
                            if (result === "Register First") {
                                $("#myModal").modal('show');
                            } else {
                                //  $(elem.children[0]).find('i').removeClass("fa-heart-o")
                                //  $(elem.children[0]).find('i').addClass("fa-heart")
                                elem.children[1].children[0].classList.remove("fa-heart-o")
                                elem.children[1].children[0].classList.add("fa-heart")

                                let number = parseInt(document.getElementById('wish').textContent);
                                number++;
                                document.getElementById('wish').textContent = number;
                            }


                        }
                        , error: function (result) {
                            console.log(result);
                        }

                    });
            }

        }


    </script>
}