@model DAL.Model.Main_Category

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_adminPanel.cshtml";
}

<br />

<div>
    <h2>Details of @Model.Name</h2>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            <h4 style="color:darkblue;font-weight:bold;opacity:0.8">main_category photo</h4>
        </dt>

        <dd>
            
            <img src="~/Content/Imgs/Main_Categories/@Model.Photo" width="200" height="200" alt="No image for this mainCategory" />


        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
