@model IEnumerable<DAL.Model.Main_Category>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_adminPanel.cshtml";
}

<h2>Index</h2>




<!--start new datagrid-->



<div class="row mt-4 mb-4">
    <div class="col-9">

        <div class="col-9">
            <form class="form-inline">
                <input id="txtName" type="text" placeholder="Name..." class="form-control mb-2 mr-sm-2 mb-sm-0" />

                <button id="btnSearch" type="button" class="gj-button-md">Search</button>
                <button id="btnClear" type="button" class="gj-button-md">Clear</button>
            </form>
        </div>
    </div>

    <div class="col-3">
        <button id="btnAdd" type="button" class="btn btn-default pull-right">Add New Category</button>
    </div>
</div>

<div class="clear-both"></div>
<div class="margin-top-10">
    <table id="grid"></table>
</div>

<div id="dialog" class="gj-display-none">
    <div data-role="body" class="text-center form-group">
        <input type="hidden" id="Id" />



        <div id="imageContainer" class="rounded-circle">

            <input type="file" name="imageFile" id="txtCatPhoto"  accept="image/png, image/jpeg, image/jpg" class="form-control" onchange="uploadImage('txtCatPhoto','img')" />

            <img src="~/Content/Imgs/default.jpg" id="img" class="h-100 w-100" />
        </div>

        <div class="form-row">
            <input type="text" class="gj-textbox-md" id="txtCatName" placeholder="Name...">
        </div>

    </div>
    <div data-role="footer">
        <button type="button" id="btnSave" class="gj-button-md">Save</button>
        <button type="button" id="btnCancel" class="gj-button-md">Cancel</button>
    </div>


</div>





<!--end new datagrid-->
@*<p>
        @Html.ActionLink("Create New MainCategory", "Create", null, new { @class = "btn btn-primary" })
    </p>*@
@*<table class="table table-hover">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Photo)
            </th>
            <th>
                Edit
            </th>

            <th>
                Delete
            </th>
        </tr>

    @foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            <img src="~/Content/Imgs/Main_Categories/@item.Photo" width="100px" height="50px" />
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.Id }, new { @class = "btn btn-success" })
        </td>

        <td>
            @Html.ActionLink("Delete", "Delete", new { id = item.Id }, new { @class = "btn btn-danger" })

        </td>
    </tr>
    }

    </table>*@



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

<script type="text/javascript">
        let grid, dialog;
     
    function Save() {
        debugger
          let Upload = document.getElementById('txtCatPhoto');
        var fileUpload = Upload.files[0];
        if (fileUpload == undefined) {
            alert('Please Choose Image to save.');
            return false;
        }
            var fileData = new FormData();

            fileData.append(fileUpload.name ,fileUpload);

            var record = {
                Id: $('#Id').val(),
                Name: $('#txtCatName').val(),

          
            };
            var xhttp = new XMLHttpRequest();
        fileData.append('name', record.Name);
        fileData.append('id', record.Id);
            xhttp.open("POST", '/MainCategory/Create', true);

            xhttp.send(fileData);
            xhttp.onreadystatechange = function () {
                if (this.status == 200) {

                    dialog.close();
                    grid.reload();
                } else {
                    alert('Failed to save.');
                    dialog.close();
                }
            };
        

    }
    function Edit(e) {
        
        $('#Id').val(e.data.id);
       
           $('#txtCatName').val(e.data.record.Name);
          // $('#txtPhoto').val(e.data.record.Photo);
            dialog.open('Edit Category');
        }



        function Delete(e) {
            if (confirm('Are you sure?')) {
                $.ajax({ url: '/MainCategory/Delete', data: { id: e.data.id }, method: 'POST' })
                    .done(function () {
                        grid.reload();
                    })
                    .fail(function () {
                        alert('Failed to delete.');
                    });
            }
        }
    $(document).ready(function () {

             grid = $('#grid').grid({
                primaryKey: 'Id',
                 dataSource: '/MainCategory/GetMainCategory',
                uiLibrary: 'bootstrap4',
                columns: [
                    { field: 'Id', width: 48 },
                    { field: 'Name', title: 'Category Name', sortable: true },
                    { field: 'Photo', title: 'Photo', type:'image' },
                    { field: 'Active', title: 'Active', type: 'checkbox', width: 90, align: 'center' },
                    { title: '', field: 'Edit', width: 42, type: 'icon', icon: 'fa fa-pencil', tooltip: 'Edit', events: { 'click': Edit } },
                    { title: '', field: 'Delete', width: 42, type: 'icon', icon: 'fa fa-remove', tooltip: 'Delete', events: { 'click': Delete } }
                ],
                pager: { limit: 5, sizes: [2, 5, 10, 20] }
            });
            dialog = $('#dialog').dialog({
                uiLibrary: 'bootstrap4',
                iconsLibrary: 'fontawesome',
                autoOpen: false,
                resizable: false,
                modal: true
            });
            $('#btnAdd').on('click', function () {
                $('#Id').val('');
                $('#txtName').val('');
                $('#txtPhoto').val('');
                dialog.open('Add Catrgory');
            });
            $('#btnSave').on('click', Save);
            $('#btnCancel').on('click', function () {
                dialog.close();
            });
            $('#btnSearch').on('click', function () {
                grid.reload({ name: $('#txtName').val()});
            });



        });
</script>


}