@model IEnumerable<DAL.Model.Main_Category>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_adminPanel.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New MainCategory", "Create", null, new { @class = "btn btn-primary" })
</p>
<table class="table table-hover">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Photo)
        </th>
        <th>
            Edit
        </th>
      
        <th>
            Delete
        </th>
    </tr>

@foreach (var item in Model) {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.Name)
    </td>
    <td>
        <img src="~/Content/Imgs/Main_Categories/@item.Photo" width="100px" height="50px" />
    </td>
    <td>
        @Html.ActionLink("Edit", "Edit", new { id = item.Id }, new { @class = "btn btn-success" })
    </td>
    
    <td>
        @Html.ActionLink("Delete", "Delete", new { id = item.Id }, new { @class = "btn btn-danger" })

    </td>
</tr>
}

</table>
