@using BL.ViewModels
@using Web.Views.Shared
@using BL.AppServices
@model VariationOfProductsViewModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MainSiteLayoutView.cshtml";
    Main_CatAppService mainCat = new Main_CatAppService();
    string lang = Session["SelectedCulture"].ToString();



}

<div class="section">
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row">
            <!-- shop -->
            @foreach (var vendor in Model.vendors)
            {
                <div class="col-md-4 col-xs-6">
                    <div class="shop">
                        <div class="shop-img">
                            <img src="~/Content/Imgs/Users/@vendor.Photo" alt="">
                        </div>
                        <div class="shop-body">
                            <h3>@vendor.FirstName @vendor.LastName<br> @ResourceSite.Store</h3>
                            @Html.ActionLink(@ResourceSite.Shop_now, "GetProductByStore", new { vendorID = vendor.ID }, new { @class = "cta - btn" })<i class="fa fa-arrow-circle-right"></i>

                        </div>
                    </div>
                </div>
            }

            <!-- /shop -->
            <!-- shop -->
            <!-- /shop -->
            <!-- shop -->
            <!-- /shop -->
        </div>
        <!-- /row -->
    </div>
    <!-- /container -->
</div>
<!-- /SECTION -->
<!-- SECTION -->
<div class="section">
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row">

            <!-- section title -->
            <div class="col-md-12">
                <div class="section-title">
                    <h3 class="title">@ResourceSite.New_Products</h3>
                    <div class="section-nav">
                        <ul class="section-tab-nav tab-nav">
                            <li class="active"><a href="@Url.Action("GetAllProducts","MainSite",new { pg=1})">Show All</a></li>
                            @for (int i = 0; i < mainCat.GetAllMain_Category().Count(); i++)
                            {
                               

                                    <li><a data-normalortopsale="N" data-toggle="tab" href="#tab1" onclick="funcGetProductInMainCategory(@mainCat.GetAllMain_Category()[i].Id,this)">@mainCat.GetAllMain_Category()[i].Name</a></li>
                                
                            }

                        </ul>
                    </div>
                </div>
            </div>
            <!-- /section title -->
            <!-- Products tab & slick -->
            <div class="col-md-12">
                <div class="row">
                    <div class="products-tabs">
                        <!-- tab -->
                        <div id="tab1" class="tab-pane active">
                            <div class="products-slick divAppendedN" data-nav="#slick-nav-1">
                                <!-- product -->
                                @foreach (var product in Model.ProductViewModels)
                                {
                                    Html.RenderAction("ProductPatialView", product);

                                }

                            </div>
                            <div id="slick-nav-1" class="products-slick-nav"></div>
                        </div>
                        <!-- /tab -->
                    </div>
                </div>
            </div>
            <!-- Products tab & slick -->
        
        </div>
        <!-- /row -->
    </div>
    <!-- /container -->
</div>

<!-- /SECTION -->
<!-- HOT DEAL SECTION -->
<div id="hot-deal" class="section">
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row">
            <div class="col-md-12">
                <div class="hot-deal">
                    <ul class="hot-deal-countdown">
                        <li>
                            <div>
                                <h3>02</h3>
                                <span>Days</span>
                            </div>
                        </li>
                        <li>
                            <div>
                                <h3>10</h3>
                                <span>Hours</span>
                            </div>
                        </li>
                        <li>
                            <div>
                                <h3>34</h3>
                                <span>Mins</span>
                            </div>
                        </li>
                        <li>
                            <div>
                                <h3>60</h3>
                                <span>Secs</span>
                            </div>
                        </li>
                    </ul>
                    <h2 class="text-uppercase">@ResourceSite.hot_deal_this_week</h2>
                    <p>New Collection Up to 50% OFF</p>
                  
                    @Html.ActionLink(@ResourceSite.Shop_now, "Index", "cart", null, new { @class = "primary-btn cta-btn" })
                </div>
            </div>
        </div>
        <!-- /row -->
    </div>
    <!-- /container -->
</div>
<!-- /HOT DEAL SECTION -->
<!-- SECTION -->
<div class="section">
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row">

            <!-- section title -->
            <div class="col-md-12">
                <div class="section-title">
                    <h3 class="title">@ResourceSite.Top_selling</h3>
                    <div class="section-nav">
                        <ul class="section-tab-nav tab-nav">
                            @for (int i = 0; i < mainCat.GetAllMain_Category().Count(); i++)
                            {
                                if (i == 0)
                                {


                                    <li class="active"><a data-normalortopsale="T" data-toggle="tab" href="#tab2" onclick="funcGetProductInMainCategory(@mainCat.GetAllMain_Category()[i].Id,this)">@mainCat.GetAllMain_Category()[i].Name</a></li>
                                }
                                else
                                {

                                    <li><a data-normalortopsale="T" data-toggle="tab" href="#tab2" onclick="funcGetProductInMainCategory(@mainCat.GetAllMain_Category()[i].Id,this)">@mainCat.GetAllMain_Category()[i].Name</a></li>
                                }
                            }


                        </ul>
                    </div>
                </div>
            </div>
            <!-- /section title -->
            <!-- Products tab & slick -->
            <div class="col-md-12">
                <div class="row">
                    <div class="products-tabs">
                        <!-- tab -->
                        <div id="tab2" class="tab-pane fade in active">
                            <div class="products-slick divAppendedT" data-nav="#slick-nav-2">
                                @{
                                    Model.ProductViewModels.Sort();
                                }
                                @foreach (var topproduct in Model.ProductViewModels)
                                {
                                    Html.RenderAction("ProductPatialView", topproduct);

                                }
                                <!-- product -->
                                <!-- /product -->
                            </div>
                            <div id="slick-nav-2" class="products-slick-nav"></div>
                        </div>
                        <!-- /tab -->
                    </div>
                </div>
            </div>
            <!-- /Products tab & slick -->
         

        </div>
        <!-- /row -->
    </div>
    <!-- /container -->
</div>
<!-- /SECTION -->
<!-- SECTION -->
<!--this is modal for wishlist-->
<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">@ResourceSite.Register_First</h4>
            </div>
            <div class="modal-body">
                <p>@ResourceSite.You_should_be_authonticated.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">@ResourceSite.Close</button>
            </div>
        </div>

    </div>
</div>

@section scripts{
    <script>

        function funcGetProductInMainCategory(mainCatId, elem) {

            console.log(elem);

            console.log($(elem).data("normalortopsale"));
            if ($(elem).data("normalortopsale") == "N") {
                $.ajax(
                    {
                        type: 'get', //HTTP POST Method
                        url: "@Url.Action("ProductByMainCatIdPartialView", "MainSite")", // Controller/View
                        data: { //Passing data
                            mainCatId: mainCatId //Reading text box values using Jquery
                            , Type: "N"
                        }, success: function (result) {
                            $("#tab1 .slick-track").empty();



                            $('#tab1 .products-slick').slick('slickAdd', result);


                        }, error: function (error) {
                            console.log(error)
                        }
                    });
            } else {

                $.ajax(
                    {
                        type: 'get', //HTTP POST Method
                        url: "@Url.Action("ProductByMainCatIdPartialView", "MainSite")", // Controller/View
                        data: { //Passing data
                            mainCatId: mainCatId //Reading text box values using Jquery
                            , Type: "T"
                        }, success: function (result) {
                            $("#tab2 .slick-track").empty();



                            $('#tab2 .products-slick').slick('slickAdd', result);
                        }, error: function (error) {

                        }
                    });
            }

            //divAppended
        }

    </script>
}

