@model IEnumerable<BL.ViewModels.Item>
@using Web.Views.Shared
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MainSiteLayoutView.cshtml";
    var payment_Method = 1;



}



<!-- BREADCRUMB -->
<div id="breadcrumb" class="section">
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row">
            <div class="col-md-12">
                <h3 class="breadcrumb-header">@ResourceSite.Your_Cart</h3>
                <ul class="breadcrumb-tree">
                    <li><a href="@Url.Action("Index","MainSite")">@ResourceSite.Home</a></li>
                    <li class="active">@ResourceSite.Your_Cart</li>
                </ul>
            </div>
        </div>
        <!-- /row -->
    </div>
    <!-- /container -->
</div>
<!-- /BREADCRUMB -->
<!-- SECTION -->
<div class="section">
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row">

            <div class="col-md-7">
                <!-- Cart Details -->
                @if (ViewBag.emptyCart == null)
                {

                    foreach (var product in Model)
                    {

                        <div class="row card" style="position: relative" id="@product.Product.Id">
                            <button class="btn btn-danger cart-close-btn" onclick="deleteFromCard(@product.Product.Id)">X</button>
                            <!-- Product thumb imgs -->
                            <div class="col-xs-4">
                                <img src="~/Content/Imgs/Products/@product.Product.Photo" style="width:100%" alt="">
                            </div>
                            <!-- /Product thumb imgs -->
                            <!-- Product details -->
                            <div class="col-xs-8" style="margin-top: 5rem;">
                                <div class="product-details">
                                    <h2 class="product-name">@product.Product.Name</h2>
                                    <div>
                                        <h3 class="product-price">@product.Product.Offer_Price <del class="product-old-price">@product.Product.Price</del></h3>
                                    </div>
                                    <p>@product.Product.Desc</p>
                                </div>

                            </div>
                            <!-- /Product details -->
                        </div>
                    }
                }
                else
                {
                    <h3 class="title">@ResourceSite.Your_Cart_is_empty</h3>
                }

                <!-- cart Details end-->
            </div>

            <!-- Order Details -->
            <div class="col-md-5 order-details">
                <div class="section-title text-center">
                    <h3 class="title">@ResourceSite.Your_Order</h3>
                </div>
                <div class="order-summary">
                    <div class="order-col">
                        <div><strong>@ResourceSite.PRODUCT</strong></div>
                        <div><strong>@ResourceSite.Price</strong></div>
                    </div>
                    <div class="order-products">
                        @if (ViewBag.emptyCart == null)
                        {


                            foreach (var item in Model)
                            {
                                <div class="order-col" id="bill_@item.Product.Id">
                                    <div><span>@item.Quantity</span>x @item.Product.Name</div>
                                    <div>$@item.Product.Offer_Price</div>
                                </div>
                            }
                        }

                    </div>
                    <div class="order-col">
                        <div>@ResourceSite.Shiping</div>
                        <div><strong>@ResourceSite.FREE</strong></div>
                    </div>
                    <div class="order-col">
                        <div><strong>@ResourceSite.TOTAL</strong></div>
                        <div><strong class="order-total" id="order-total">@ViewBag.total</strong></div>
                    </div>
                </div>

                <form action="@Url.Action("AddCheckOut","CheckOut")" method="POST">
                    <input type="hidden" name="Total_Price" id="Total_Price" value=@ViewBag.total />
                    <div class="payment-method">
                        <div class="input-radio">
                            <input type="radio" name="payment" id="payment-1" value="1" checked>
                            <label for="payment-1">
                                <span></span>
                               @ResourceSite.Cash
                            </label>

                        </div>
                        <div class="input-radio">
                            <input type="radio" name="payment" id="payment-2" value="0">
                            <label for="payment-2">
                                <span></span>
                              @ResourceSite.Visa
                            </label>

                        </div>
                        <div class="input-radio">
                            <input type="radio" name="payment" id="payment-3" value="2">
                            <label for="payment-3">
                                <span></span>
                                @ResourceSite.PayPal
                            </label>

                        </div>
                    </div>
                    <div class="input-checkbox">
                        <input type="checkbox" id="terms">
                        <label for="terms">
                            <span></span>
                            I've read and accept the <a href="#">terms & conditions</a>
                        </label>
                    </div>
                    <div>
                        <input type="text" name="Address" id="Address" placeholder="@ResourceSite.Enter_Address" required class="form-control" />

                    </div>
                    @if (ViewBag.emptyCart == null)
                    {


                        if (User.Identity.IsAuthenticated)
                        {
                            <input type="submit" value="@ResourceSite.Place_order" class="primary-btn order-submit form-control" , id="order-submit" style="width:100%;" />
                        }
                        else
                        {
                            @Html.ActionLink(@ResourceSite.Place_order, "Login", "Account", new { ReturnUrl = "~/Cart" }, new { @class = "primary-btn order-submit", id = "order-submit" })
                        }
                    }
                    else
                    {
                        @Html.ActionLink(@ResourceSite.Place_order, "Index", "CheckOut", new { }, new { @class = "primary-btn order-submit disabled", id = "order-submit" })

                        <!-- <a href="#" class="primary-btn order-submit disabled" id="order-submit">Place order</a>-->
                    }
                    </form>
            </div>
            <!-- /Order Details -->
        </div>
        <!-- /row -->
    </div>
    <!-- /container -->
</div>
<!-- /SECTION -->
<script>

</script>